<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Members ({{members.total}})">
        <a href="#/members">Manage</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr ng-repeat="member in membersList">
              <td>{{member.id}}</td>
              <td>{{member.first_name}}</td>
              <td>{{member.last_name}}</td>
              <td>{{member.email}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li ng-show="prev_page_url">
            <a ng-href="#/members"
               ng-click="getMembersPage(members.current_page - 1)">&laquo;
            </a></li>
          <li ng-repeat="page in [] | range: members.last_page">
            <a ng-href="#/members"
               ng-click="getMembersPage($index + 1)">{{$index + 1}}
            </a>
          </li>
          <li ng-show="members.next_page_url">
            <a ng-href="#/members"
               ng-click="getMembersPage(members.current_page + 1)">&raquo;
            </a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
