<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-users"></i>
        </div>
        <div class="title">{{members.total}}</div>
        <div class="comment">Members</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon red pull-left">
          <i class="fa fa-calendar"></i>
        </div>
        <div class="title">{{events.total}}</div>
        <div class="comment">Events</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon orange pull-left">
          <i class="fa fa-dollar"></i>
        </div>
        <div class="title">{{sponsors.total}}</div>
        <div class="comment">Sponsors</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon blue pull-left">
          <i class="fa fa-calendar-check-o"></i>
        </div>
        <div class="title">Matt Mokary</div>
        <div class="comment">is on duty</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-users" title="Members">
        <input type="text" placeholder="Search Members" class="form-control input-sm" ng-model="members.searchQuery.$"/>
      </rd-widget-header>
      <rd-widget-body classes="large">
        <canvas id="memberChart" width="800" height="300">

        </canvas>
      </rd-widget-body>
      <rd-widget>
  </div>
</div>
